﻿<article class="js-app-children" id="js-app-markwords">
	<section class="container">
		<header class="js-app-instruction-container"><h2 class="js-app-instruction"/></header>
		<div class="js-app-contentBox markwords_mainTask"></div>
		<footer class="js-app-cf js-app-footer">
			<div class="js-app-pointsIndicatorContainer"></div>
		</footer>
	</section>

	<!-- Leave Current game -->
	<section class="hide leave" aria-hidden="true">
		<header>
			<h3 class="leave-heading i18n">Leave Current Game?</h3>
		</header>
		<div class="leave-content"></div>
		<footer class="leave-footer">
			<button class="js-app-button-big leave-game i18n uppercase">Yes</button>
			<button class="js-app-button-big stay i18n uppercase">No</button>
		</footer>
	</section>

	<!-- Finish Screen -->
	<section class="hide finish" aria-hidden="true">
		<header>
			<h3 class="finish-heading i18n uppercase">Great!</h3>
		</header>
		<div class="finish-content"></div>
		<footer class="finish-footer">
			<button class="js-app-button-big play-again i18n uppercase">Play Again</button>
			<button class="js-app-button-big close-game i18n uppercase">Close</button>
		</footer>
	</section>
	<!-- END -->

	<!-- Very small Screen Message -->
	<section class="hide small-screen" aria-hidden="true">
		<h3 class="i18n">Sorry, your screen is to small to start a game.</h3>
		<div class="i18n">Minimal screen width is <strong>480px</strong></div>
		<button class="js-app-button-big go-back i18n uppercase">Go Back</button>
	</section>
	<!-- END Very small screen-->

</article>
