article.js-app div.markwords_mainTask
{
	display: inline-block;
	vertical-align: top;
	
	height: 28em;
	
	/* For IE 7 */
	zoom:1;
	*display: inline;
}

article.js-app div.markwords_sidebar
{
	display: inline-block;
	vertical-align: top;
	
	height: 28em;
	
	/* For IE 7 */
	zoom:1;
	*display: inline;
}

article.js-app div.markwords_sidebar div
{
	display: block;
	font-size: 1.6em;
	margin-bottom: 0.2em;
}

article.js-app div.markwords_mainTask div
{
	font-size: 1.6em;
	display: inline-block;
	color: #000;
	padding: 0em;
	margin-bottom: 0.2em;
	
	/* For IE 7 */
	zoom:1;
	*display: inline;
}

article.js-app div.markwords_mainTask div span.markwords_word
{
	cursor: pointer;
	
	-webkit-border-radius: 0.125em; 
	-moz-border-radius: 0.125em;
	border-radius: 0.125em;
	
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;	
}

article.js-app div.markwords_mainTask div span.markwords_word:hover
{
	background: #ddd;
}

article.js-app div.markwords_mainTask div span.markwords_word.markwords_flashRed
{
	background-color: #C43C35;
	
	-webkit-box-shadow: 1px 1px 2px #888;
	-moz-box-shadow: 1px 1px 2px #888;
	box-shadow: 1px 1px 2px #888;
}

article.js-app div.markwords_mainTask div span.markwords_word.markwords_selected
{
	background-color: #A9E290;
	
	-webkit-box-shadow: 1px 1px 2px #888;
	-moz-box-shadow: 1px 1px 2px #888;
	box-shadow: 1px 1px 2px #888;
}