﻿<article class="js-app">

	<h2 />

	<div class="js-app-contentBox markwords_mainTask"></div><div class="js-app-contentBox markwords_sidebar"></div>
		
	<footer>
		<div class="js-app-cf">
			<button class="js-app-resetButton js-app-gettext" type="button">Start over</button>
			<div class="js-app-progressBarText"></div>
			<div class="js-app-progressBarContainer">
				<div class="js-app-progressBarBackground">
					<div class="js-app-progressBar js-app-progressIndicator"></div>
				</div>
			</div>
			<div class="js-app-resultsDescription js-app-gettext">Progression: </div>
		</div>
		
		<div class="js-app-cf">
			<div class="js-app-correctBarText"></div>
			<div class="js-app-progressBarContainer">
				<div class="js-app-progressBarBackground">
					<div class="js-app-progressBar js-app-correctIndicator"></div>
				</div>
			</div>
			<div class="js-app-resultsDescription js-app-gettext">Correct: </div>
		</div>
				
		<div class="js-app-cf">
			<div class="js-app-records">
				<div class="js-app-recordsText"></div>
				<div class="js-app-recordsDescription js-app-gettext">Record: </div>
			</div>
		</div>
	</footer>

    <div class="js-app-confirmResetDialog">
	    <p class="js-app-gettext"><span class="ui-icon ui-icon-alert"></span>Are you sure that you want to reset the task and start over?</p>
    </div>

</article>
