article.js-app-children div.markwords_mainTask
{
	display: block;
	vertical-align: middle;
	padding: 1em;
	height: 28em;
	overflow: auto;

	/* For IE 7 */
	zoom:1;
	*display: inline;
}

article.js-app-children div.markwords_sidebar
{
	display: inline-block;
	vertical-align: top;
	height: 28em;

	/* For IE 7 */
	zoom:1;
	*display: inline;
}

article.js-app-children div.markwords_sidebar div
{
	display: block;
	font-size: 1.6em;
	margin-bottom: 0.2em;
}

article.js-app-children div.markwords_mainTask div
{
	font-size: 1.6em;
	display: inline-block;
	color: #000;
	line-height: 1.6em;

	/* For IE 7 */
	zoom:1;
	*display: inline;
}

article.js-app-children div.markwords_mainTask div span.markwords_word
{
	cursor: pointer;

	-webkit-border-radius: 0.125em;
	-moz-border-radius: 0.125em;
	border-radius: 0.125em;
	display: inline-block;

	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	-ms-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}

article.js-app-children div.markwords_mainTask div span.markwords_word:hover
{
	background: #ddd;
	border-radius: 1em;
}

article.js-app-children div.markwords_mainTask div span.markwords_word.markwords_flashRed
{
	background-color: #E8A2A2;
	border-radius: 1em;

	-webkit-box-shadow: 1px 1px 2px #888;
	-moz-box-shadow: 1px 1px 2px #888;
	box-shadow: 1px 1px 2px #888;
}

article.js-app-children div.markwords_mainTask div span.markwords_word.markwords_selected
{
	background-color: #86CC98;
	font-weight: bold;
	padding: 0 0.25em;
    border-radius: 1em;

	-webkit-box-shadow: 1px 1px 2px #888;
	-moz-box-shadow: 1px 1px 2px #888;
	box-shadow: 1px 1px 2px #888;
}