/* override default styles of common HTML elements */
.js-app-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.js-app-container li {
	list-style-type: none;
}

@media all {
  .js-app-container .js-app-row {
  	display:block;
   /* width: 100%;*/
  }
  .js-app-container .js-app-row .js-app-column { display:inline-block; /*float:left;*/}
  /*.js-app-container .js-app-row .js-app-column-1 {
  	display:inline-block;
    width: 100%;
  }
  .js-app-container .js-app-row .js-app-column-2 {
  	display:inline-block;
    width: 50%;
  }
  .js-app-container .js-app-row .js-app-column-3 {
  	display:inline-block;
    width: 33.33%;
  }
  .js-app-container .js-app-row .js-app-column-4 {
  	display:inline-block;
    width: 25%;
  }
  .js-app-container .js-app-row .js-app-column-5 {
  	display:inline-block;
    width: 20%;
  }
  .js-app-container .js-app-row .js-app-column-6 {
  	display:inline-block;
    width: 16.66%;
  }*/
}
@media (max-width:750px) {

}

@media (max-width:479px) and (min-width:749px) {

}