﻿<article class="js-app accessibility_small-js-app" style="display:inline-block">

    <h2 /> 
    <table class="accessibility_radioContainer">        
        <!-- <tr>
            <th width="60%"></th>
            <th width="40%"></th>
        </tr>
        -->
        <tr> <td style="width:4em;"><label for="setting1" class="js-app-gettext accessibility_onlabel" style="font-size:14px;">Yes</label></td> 
             <td style="width:4em;"><input type="radio" class="accessibility_on" name="setting" id="setting1" value="1"></td></tr>
        <tr class="accessibility_radioContainer"> <td><label for="setting0" class="js-app-gettext accessibility_offlabel" style="font-size:14px;">No</label> </td>
             <td><input type="radio" class="accessibility_off" name="setting" id="setting0" value="0"></td></tr>
             <tr><td> </td></tr>
        <tr style="width:8em;"> <td colspan="2"> <button class="accessibility_store js-app-gettext" type="button">Save</button></td></tr>
    </table>
</article>
