article.js-app .accessibility_radioContainer 
{
    table-layout:fixed; 
    width:5em;    
}

article.js-app .accessibility_onlabel
{    
    
}

article.js-app .accessibility_on
{    
}
article.js-app .accessibility_off
{
}

article.js-app div.accessibility_tapntapTargetSelection
{
    border-color: yellow;
    border-style: solid;
}

article.js-app accessibility_footer
{
    position:absolute;
    
}
article.js-app div.accessibility_imageEncloser
{
    margin-left : 1em;
    position: relative;
}

article.js-app div.accessibility_targetMarker
{
        
    border-width: 2px;
    border-color:red;
    border-style: solid;
    background-color: white;
    position:absolute;
    width: 7px;
    height: 7px;
    z-index: 2;
}

article.js-app div.accessibility_dropSource
{
	display: block;
	overflow: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	height: 5em;
}

article.js-app div.accessibility_dropTarget
{
	display: block;	
	height: 1em;
	margin-bottom: 1em;
}

article.js-app div.accessibility_dropSource div.ui-draggable-helper
{
	background: none;
}

article.js-app div.accessibility_dropSource div 
{
	font-size: 1.6em;
	margin-bottom: 0.2em;
	padding: 0px 0.125em 0px 0.125em;
	background: #eee;
	display: inline-block;
	margin-right: 0.3em;
	cursor: pointer;
  
	-webkit-border-radius: 0.125em; 
	-moz-border-radius: 0.125em;
	border-radius: 0.125em;
	
	-webkit-transition: background-color 0.5s ease 0s;
	-moz-transition: background-color 0.5s ease 0s;
	-o-transition: background-color 0.5s ease 0s;
	transition: background-color 0.5s ease 0s;
	
	/* For IE 7 */
	zoom:1;
	*display: inline;
}

article.js-app div.accessibility_dropSource div.ui-draggable-dragging
{
	-webkit-box-shadow: 1px 1px 2px #888;
	-moz-box-shadow: 1px 1px 2px #888;
	box-shadow: 1px 1px 2px #888;
}

article.js-app div.accessibility_dropSource div.accessibility_hidden
{
	visibility: hidden;
}
article.js-app div.accessibility_correct 
{    
    font-size: 1.6em;
	background-color: #D0FFBF;
	
	
	-webkit-box-shadow: 1px 1px 2px #888;
	-moz-box-shadow: 1px 1px 2px #888;
	box-shadow: 1px 1px 2px #888;
}

article.js-app div.accessibility_dropSource div.accessibility_incorrect 
{
	background-color: #FF5656;
	
	-webkit-box-shadow: 1px 1px 2px #888;
	-moz-box-shadow: 1px 1px 2px #888;
	box-shadow: 1px 1px 2px #888;
}

article.js-app div.accessibility_dropTarget div
{
	font-size: 1.3em;
	margin-bottom: 0.2em;
	display: inline-block;
	padding: 0em;
	cursor: default;
	
	/* For IE 7 */
	zoom:1;
	*display: inline;
}

article.js-app div.accessibility_dropTarget div span.accessibility_droppable
{
	background: #eee;
  
	-webkit-border-radius: 0.125em; 
	-moz-border-radius: 0.125em;
	border-radius: 0.125em;
	
	-webkit-transition: background-color 0.5s ease 0s;
	-moz-transition: background-color 0.5s ease 0s;
	-o-transition: background-color 0.5s ease 0s;
	transition: background-color 0.5s ease 0s;	
}

article.js-app div.accessibility_dropTarget div span.accessibility_hovered
{
	-webkit-box-shadow: 1px 1px 2px #888;
	-moz-box-shadow: 1px 1px 2px #888;
	box-shadow: 1px 1px 2px #888;
}

